*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* background-color: black; */
}

.container{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.login_box{
    width: 400px;
    height: 500px;
    background: linear-gradient(180deg, rgb(255, 255, 255), skyblue, rgb(113, 113, 235));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid black;
    z-index: 2;
    opacity: 95%;
    margin: 10px;
}
.login_box h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.inputbox{
    width: 260px;
    height: 45px;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    opacity: 200%;
    font-size: 18px;
}

.register_button{
    background-color: rgb(128, 128, 223);
    color: white;
    font-weight: 500;
}

.register_button:hover{
    background-color: rgb(194, 179, 166);
    /* background-color: white; */
    color: black;
    font-weight: 500;
}

.flowers{
    width: 650px;
    /* height: 300px; */
    margin-top: 180px;
    margin-left: -200px;
    position: absolute;
    transform: rotateZ(35deg);
    z-index: 1;
}

.visualDesign{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design_box{
    width: 700px;
    height: 700px;
    /* background-color: black; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#flower_background, img{
    position: absolute;
    width: 700px;
    z-index: 1;
}

#moongirl {
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    z-index: 10;
}

.cloud{
    width: 200px;
}

.cloud1{
    /* width: 230px; */
    margin-right: 300px;
    margin-bottom: 200px;
}
.cloud2{
    width: 220px;
    margin-right: 400px;
    margin-top: 150px;
}

.cloud3{
    width: 220px;
    margin-left: 350px;
    margin-top: 280px;
}

.cloud4{
    width: 180px;
    margin-left: 360px;
    margin-bottom: 100px;
}

@media (max-width:1200px){
    /* .login_box{
        width: 360px;
        height: 500px;
        
    } */
    .design_box{
        width: 550px;
        height: 600px;
    }
    #flower_background, img{
        width: 550px;
    }
    .flowers{
        width: 600px;
    }
    #moongirl {
        margin-top: 20px;
        margin-right: 20px;
        width: 250px;
    }
    .cloud{
        width: 150px;
    }
    .cloud1{
        /* width: 200px; */
        margin-right: 250px;
        margin-bottom: 150px;
    }
    .cloud2{
        width: 160px;
        margin-right: 300px;
        margin-top: 100px;
    }
    .cloud3{
        width: 160px;
        margin-left: 320px;
        margin-top: 250px;
    }
    .cloud4{
        width: 130px;
        margin-left: 330px;
        margin-bottom: 100px;
    }
}

@media (max-width: 900px){
    .login_box{
        width: 320px;
        height: 400px;
    }
    .inputbox{
        min-width: 100px;
        max-width: 200px;
        height: 40px;
        font-size: 16px;
    }
    .design_box{
        width: 380px;
        height: 380px;
    }
    #flower_background, img{
        width: 380px;
    }
    .flowers{
        width: 450px;
        margin-top: 100px;
        margin-left: -80px;
    }
    #moongirl {
        margin-top: 20px;
        margin-right: 20px;
        width: 200px;
    }
    .cloud{
        width: 110px;
    }
    .cloud1{
        /* width: 200px; */
        margin-right: 200px;
        margin-bottom: 150px;
    }
    .cloud2{
        width: 120px;
        margin-right: 250px;
        margin-top: 100px;
    }
    .cloud3{
        width: 100px;
        margin-left: 220px;
        margin-top: 200px;
    }
    .cloud4{
        width: 100px;
        margin-left: 200px;
        margin-bottom: 100px;
    }
}

@media (max-width:600px){
    .visualDesign{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .login_box{
        width: 320px;
        height: 400px;
    }
    .login_box h1{
        font-size: 35px;
    }
    .inputbox{
        width: 200px;
        height: 38px;
        font-size: 16px;
    }
    .flowers{
        margin-top: 0px;
        width: 400px;
    }
}